.subcat {
  background: #fae8bb;
  padding: 15px;

}

.link:hover {
  color: red;
  cursor: pointer;
  text-decoration: none;
}

.active {
  color: black;
  text-decoration: none;
  cursor: default;
}
.active:hover {
  color: black;
}